<div id="hideLeftBar">
    <a href="index.action" title="{{'show_main_menu'| translate}}" id="showMainMenuLink">
        <i class="fa fa-home leftBarIcon"></i>
    </a>
    <a href="javascript:dhis2.leftBar.hideAnimated()" title="{{'hide_menu'| translate}}" id="hideMainMenuLink">
        <i class="fa fa-arrow-left leftBarIcon"></i>
    </a>
    <a href="javascript:dhis2.leftBar.extendAnimated()" title="{{'extend_menu'| translate}}" id="extendMainMenuLink">
        <i class="fa fa-arrow-right leftBarIcon"></i>
    </a>
</div>
<br>
<center>

        <div class="dropdown" ng-controller="LeftBarMenuController">
                <button class="btn btn-primary dropdown-toggle custom-dropdown" type="button" data-toggle="dropdown">{{reportButton}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" style="margin-left:12%;width:75%;">
                    <li>
                      <a ng-click="changeReportText(action)" ng-repeat="action in reportActions">{{action}}</a>
                    </li>
                  </ul>
                </div>
</center>
<br>