<div id="leftBar">
    <d2-left-bar></d2-left-bar>

    <div id="orgUnitTree">
        <ul>
        </ul>
    </div>

</div>

<div id="mainPage">
    <div ng-if="select == 'ewarn'" ng-include="'views/ewarn.html'" max-width="100% !important"></div>
    <div ng-if="select == 'phc'" ng-include="'views/phc.html'" width="105% !important"></div>
    <div ng-if="select == 'hospital'" ng-include="'views/hospital.html'" width="105% !important"></div>
    <div ng-if="select == 'medicalcenter'" ng-include="'views/medicalcenter.html'" width="105% !important"></div>
</div>