<div class="col-lg-12 col-md-6">
    <table class="table table-borderless table-striped" id="selections">
        <tr>
            <td>
                <div class="dropdown" ng-controller="selectionsController">
                    <button style='width:100%' class="btn btn-default dropdown-toggle custom-dropdown" type="button" data-toggle="dropdown">{{reportButton}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" style="width:100%;">
                        <li ng-repeat="action in reportActions">
                            <a ng-click="changeReportText(action)">{{action}}</a>
                        </li>

                    </ul>
                </div>
            </td>
            <td>
                <div class="checkbox checkbox-primary">
                    <input id="checkbox2" type="checkbox" ng-model="full" ng-checked='!ds'>
                    <label for="checkbox2">
                        Generate full report
                    </label>
                </div>

            </td>
            <td>
                <div class="checkbox checkbox-primary">
                    <input id="checkbox3" type="checkbox" ng-model='ds'>
                    <label for="checkbox3">
                        select datasets
                    </label>
                </div>

            </td>
            <td colspan="3">
                <div class="dropdown" ng-controller="selectionsController">
                    <button style='width:100%' class="btn btn-default dropdown-toggle custom-dropdown" ng-disabled="full" type="button" data-toggle="dropdown">{{datasetButton}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" style="width:100%;">
                        <li class='dropdown-header'>
                            Ewarn Report
                        </li>
                        <li ng-repeat="action in datasetActions" ng-if='action.type=="Ewarn"'>
                            <a ng-click="changeDatasetText(action.name)">{{action.name}}</a>
                        </li>
                        <li class='dropdown-header'>
                            PHC report
                        </li>
                        <li ng-repeat="action in datasetActions" ng-if='action.type=="PHC"'>
                            <a ng-click="changeDatasetText(action.name)">{{action.name}}</a>
                        </li>
                        <li class='dropdown-header'>
                            Hospital Report
                        </li>
                        <li ng-repeat="action in datasetActions" ng-if='action.type=="Hospital"'>
                            <a ng-click="changeDatasetText(action.name)">{{action.name}}</a>
                        </li>
                        <li class='dropdown-header'>
                            Medical Center Report
                        </li>
                        <li ng-repeat="action in datasetActions" ng-if='action.type=="Medical Center"'>
                            <a ng-click="changeDatasetText(action.name)">{{action.name}}</a>
                        </li>

                    </ul>
                </div>
            </td>
        </tr>
    </table>
</div>